body {
background-color:#ccc;
}

header
{
text-decoration:underline;
text-align: right
}


a{ 
color:#000; 
} 
a:hover{ 
color:66c; 
font-weight:bold;
font-size: 120%
} 

a:link
{
text-decoration:none;
font-family:"Comic Sans MS", cursive
}